<h1 class="index-text">Manage Your Contacts</h1>
<button type="button" class="btn btn-secondary"><a href="/contacts" class="button-text">All Contacts</a></button>
<button type="button" class="btn btn-secondary"><a href="/contacts/new" class="button-text">Add a Contact</a></button>
